@import "../../assets/style/vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 49px 10% 0 10%;
    z-index: 1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, .0) 120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: 130%;
}

.description {
    font-size: 20px;
    font-family: var(--font-roboto);
    margin: 50px auto;
    max-width: 440px;
}

.contactBotton {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 25px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0, 0, 40px 0 rgba(0, 0, 0, .25);
}

.heroImage {
    width: 50%;
    z-index: 1;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.topBlur {
    background-color: rgba(25, 55, 109, .7);
    min-width: 350px;
    min-height: 350px;
    position: absolute;
    top: -128px;
    left: 10vw;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    background-color: rgba(25, 55, 109, .7);
    min-width: 350px;
    min-height: 350px;
    position: absolute;
    top: 170px;
    right: 0vw;
    width: 70vw;
    height: 50vw;
    border-radius: 50%;
    filter: blur(100px);
    z-index: 0;
}

@media only screen and (max-width:768px) {
    .container {
        flex-direction: column-reverse;
    }

    .content {
        align-items: center;
    }

    .heroImage {
        margin: 0 100px 0 0;
    }

    .title {
        width: fit-content;
    }
}