.Breadcrums {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5E5E5E;
    font-size: 16px;
    font-weight: 600;
    margin: 60px 80px;
    text-transform: capitalize;
}

@media only screen and (max-width:768px) {
    .Breadcrums {
        margin: 60px 40px;
    }
}

@media only screen and (max-width:475px) {
    .Breadcrums {
        width: 156%;
    }
}