.navbar {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    box-shadow: 0 1px 3px -2px #000;
}

.navLogo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navLogo p {
    color: #171717;
    font-size: 30px;
    font-weight: 600;
}

.navMenu {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.navMenu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.navMenu li a {
    color: #626262;
    text-decoration: none;
}

.navMenu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}

.navLoginCart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.navLoginCart button {
    padding: 1rem 2rem;
    outline: none;
    border: 1px solid #7A7A7A;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: #FFF;
    cursor: pointer;
}

.navLoginCart button:active {
    background: #F3F3F3;
}

.navCartCount {
    margin: -35px 0 0 -55px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    background: #FF0000;
    color: #FFF;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 600;
}

.ResponsiveIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Responsive {
    font-size: 2rem;
    display: flex;
    position: absolute;
    right: 5px;
    top: -50px;
    gap: 10px;
    display: none;
}

@media only screen and (max-width:768px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
    }

    .navMenu {
        flex-direction: column;
        gap: 20px;
    }

    .navMenuNone {
        display: none;
    }

    .Responsive {
        display: block;
    }

    .ShowNavMenu {
        display: block;
    }

    .navMenu hr {
        width: 8%;
    }

    .navCartCount {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 235px;
        left: 215px;
    }
}

@media only screen and (max-width:425px) {
    .navbar {
        width: 185%;
    }
}

@media only screen and (max-width:375px) {
    .navbar {
        width: 185%;
    }
}

@media only screen and (max-width:320px) {
    .navbar {
        width: 215%;
    }
}