.ProductDisplay {
    display: flex;
    margin: 0 80px;
}

.ProductDisplayleft {
    display: flex;
    gap: 17px;
}

.ProductDisplayImgList {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ProductDisplayImgList img {
    height: 163px;
}

.ProductDisplayMainImage {
    width: 550px;
    height: 700px;
}

.ProductDisplayRight {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
}

.ProductDisplayRight h1 {
    color: #3D3D3D;
    font-size: 35px;
    font-weight: 600;
}

.ProductDisplayRightStar {
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1C1C1C;
    font-size: 16px;
}

.ProductDisplayRightPrices {
    display: flex;
    margin: 15px 0;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.ProductDisplayRightPricesOld {
    color: #818181;
    text-decoration: line-through;
}

.ProductDisplayRightPricesNew {
    color: #FF4141;
}

.ProductDisplayRightSize h1 {
    margin-top: 50px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

.ProductDisplayRightSizes {
    display: flex;
    margin: 30px 0;
    gap: 20px;
}

.ProductDisplayRightSizes div {
    padding: 18px 24px;
    background-color: #FBFBFB;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
    cursor: pointer;
}

.ProductDisplayRight button {
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    background-color: #FF4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.ProductDisplayRightCategory {
    margin-top: 10px;
}

.ProductDisplayRightCategory span {
    font-weight: 600;
}

@media only screen and (max-width:768px) {
    .ProductDisplay {
        margin: 0 40px;
        display: block;
    }
}

@media only screen and (max-widht:425px) {
    .ProductDisplayRight h1 {
        width: 250%;
    }
}

@media only screen and (max-width:375px) {
    .ProductDisplayRight h1 {
        width: 250%;
    }
}