.Hero {
    height: 100vh;
    background: linear-gradient(180deg, #FDE1FF, #E1FFEA22 60%);
    display: flex;
}

.HeroLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.HeroLeft h2 {
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}

.HeroLeft p {
    color: #171717;
    font-size: 60px;
    font-weight: 700;
}

.HeroHandIcon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.HeroHandIcon img {
    width: 100px;
}

.HeroLatestButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 300px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background-color: #FF4141;
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
}

.HeroRight {
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: center;
}

@media only screen and (max-width:768px) {
    .Hero {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .HeroLeft {
        margin-top: 2rem;
    }

    .HeroRight {
        margin-bottom: 5rem;
    }

    .HeroRight img {
        display: none;
    }
}

@media only screen and (max-width:425px) {
    .Hero {
        width: 185%;
    }
}

@media only screen and (max-width:375px) {
    .Hero {
        width: 200%;
    }
}

@media only screen and (max-width:320px) {
    .Hero {
        width: 230%;
    }
}